.btn {
    font-family: var(--fm);
    font-size: 18px;
    color: #fff;
    background-color: #ff6900;
    border-radius: 20px;
    font-weight: 500;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}